// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #CC9E61;
$text-color: #FFFDA3;
// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-mta {

  background-color: $background-color;

  .line {
    display: inline-block;
    font-size: 270%;
    color: $text-color;
    border: 6px solid $text-color;
    -webkit-border-radius: 64px;
    border-radius: 64px;
    width: 64px; height: 64px;
    line-height: 64px;
    text-align: center;
    padding: 6px;
  }

  .name {
    font-size: 140%;
    color: $text-color;
  }

  .direction {
    font-size: 100%;
    color: $text-color;
    text-transform: capitalize;
  }

  .time {
    font-size: 200%;
    color: $text-color;
  }
}